<h2>{{hero.name | uppercase }} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<input id="name" [(ngModel)]="hero.name" placeholder="name">

<h2>My Heroes</h2>
  @for (hero of heroes; track hero.id) {
    <ul class="heroes"> 
      <li>
        <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
          <span class="badge">{{hero.id}}</span>
          <span class="name">{{hero.name}}</span>
        </button>
      </li>
    </ul>
  }
  
  <app-hero-detail [hero]="selectedHero"></app-hero-detail>




